@keyframes example {
    from {
        transform: rotate(180deg);
    }
    to {
        transform: rotate(0);
    }
}


/* The element to apply the animation to */

.anim {
    position:absolute;
    width: 50px;
    height: 50px;
    animation-name: example;
    animation-duration: 2s;
    transform: rotate(180deg);
}